.aling-button-vertical {
  margin-top: 2.0rem !important;
}

.border-mesh {
  border: 1px solid #000;
}

.bg-sucess {
  background-color: #00FF7F;
}

.bg-danger {
  background-color: #E3606D !important;
}

.format-mesh {
  height: 50%;
  justify-content: center;
}

.flex-position-mesh {
  width: 8%;
  padding: 0.5%;
}

li {
  list-style: none;
}

p.no-mb {
  margin-bottom: 0 !important;
}