<div class="container-fluid">
  <div class="row">

    <div class="col-lg-12 col-md-12 mt-4">
      <section class="d-flex justify-content-center">

        <div class="text-center" *ngIf="isStageSettingMesh(meshConfigurations.stage)">
          <h3 class="mb-4">Configurações da Malha</h3>

          <form class="form-inline" #formMesh="ngForm" (ngSubmit)="initMesh(formMesh, meshConfigurations)" novalidate>

            <div class="form-group">
              <input type="text" placeholder="Coordenada X" class="form-control" [(ngModel)]="meshConfigurations.inputMeshSizeX"
                name="inputMeshSizeX" #inputMeshSizeX="ngModel" autocomplete="off" maxlength="3" required>

              <span class="mx-3"> X </span>

              <input type="text" placeholder="Coordenada Y" class="form-control" [(ngModel)]="meshConfigurations.inputMeshSizeY"
                name="inputMeshSizeY" #inputMeshSizeY="ngModel" autocomplete="off" maxlength="3" required>

              <button type="submit" class="btn btn-info ml-3">Continuar</button>
            </div>

          </form>

          <div class="row mt-3">
            <div class="col-lg-12">
              <small class="text-danger">OBS: As coordenadas X e Y devem ser diferentes!</small>
            </div>
          </div>
        </div>

        <div class="text-center" *ngIf="isStageSettingProbe(meshConfigurations.stage)">
          <h3 class="mb-4">Configurações das Sondas</h3>

          <form class="form-horizontal" #formProbes="ngForm" (ngSubmit)="initProbes(formProbes, probesConfigurations)"
            novalidate>

            <div class="row">
              <div *ngFor="let probe of probesConfigurations; let i = index;">
                <div class="col-lg-12 col-md-12 my-3">
                  <h5 class="mr-3">Sonda {{ i + 1 }}:</h5>

                  <input type="text" placeholder="Coordenada X" class="form-control" [(ngModel)]="probe.initialPositionX"
                    name="initialPositionX" #initialPositionX="ngModel" autocomplete="off" maxlength="3" required>

                  <span class="mx-3"> X </span>

                  <input type="text" placeholder="Coordenada Y" class="form-control" [(ngModel)]="probe.initialPositionY"
                    name="initialPositionY" #initialPositionY="ngModel" autocomplete="off" maxlength="3" required>

                  <span class="mx-3"> - </span>

                  <select class="form-control" name="initialDirection" #initialDirection="ngModel" [(ngModel)]="probe.initialDirection"
                    required>
                    <option value="undefined" selected>Informe a direção inicial</option>
                    <option *ngFor="let direction of directions;" [value]="direction.id">{{ direction.description }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-info ml-3">Continuar</button>
              </div>
            </div>

          </form>
        </div>

        <div class="text-center" *ngIf="isStageControllingProbe(meshConfigurations.stage)">
          <h3 class="mb-4">Configurando Lista de Comandos para as Sondas</h3>

          <form class="form-horizontal" #formControlProbes="ngForm" (ngSubmit)="startSimulation(formControlProbes, probesConfigurations)"
            novalidate>

            <div *ngFor="let probe of probesConfigurations; let i = index;">
              <div class="row">
                <div class="col-lg-12 col-md-12 my-3">
                  <h5 class="mr-3">Sonda {{ i + 1 }}:</h5>

                  <input type="text" placeholder="Lista de Comandos" class="form-control" [(ngModel)]="probe.listCommands"
                    name="listCommands_{{ i }}" #listCommands="ngModel" autocomplete="off" (keyup)="processText(probe)"
                    required>

                  <small class="text-danger">Valores Permitidos: L (Esquerda) / R (Direita) / M (Mover)</small>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">

                <button type="submit" class="btn btn-info ml-3 aling-button-vertical">Iniciar Simulação</button>

              </div>
            </div>

          </form>
        </div>

      </section>
    </div>

  </div>
</div>